.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    transition: all 0.7s linear;
  }
  
  .card-body {
    padding: 2rem 0 !important;
  }
  
  .card-text {
    padding: 0.3rem 1rem;
    font-size: 20px;
  }
  
  .overflow {
    overflow: hidden;
  }
  
  .card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }
  
  .card-img-top:hover {
    transform: scale(1.05);
  }
  .CardCharacterComponent{
    margin-top: 20px;
  }

  .alert-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
  }

  .img-card{
    max-height: 285.33px;
    min-width: 213.98px;
  }


 .accordion-button{
   background-color: #212529 !important;
   color: #F6F8FF !important;
     
  }
  
  .button-details{
    width: 80%;
    margin: 0 auto;
 }

 


 .card-title{
   color:#DB2B39;
   font-weight: bolder;
   font-size: 45px;
 }

 .CardCharacterComponent{
   margin-top: 10px;
 }


 



 .add-button {
   appearance: button;
   background-color: #F8F272;
   background-image: none;
   border: 1px solid #000;
   border-radius: 4px;
   box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
   box-sizing: border-box;
   color: black;
   cursor: pointer;
   display: inline-block;
   font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
   font-size: 14px;
   font-weight:bolder;
   line-height: 20px;
   margin: 0 5px 10px 0;
   overflow: visible;
   padding: 12px 40px;
   text-align: center;
   text-transform: none;
   touch-action: manipulation;
   user-select: none;
   -webkit-user-select: none;
   vertical-align: middle;
   white-space: nowrap;
 }
 
 .add-button:focus {
   text-decoration: none;
 }
 
 .add-button:hover {
   text-decoration: none;
 }
 
 .add-button:active {
   box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
   outline: 0;
 }
 
 .add-button:not([disabled]):active {
   box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
   transform: translate(2px, 2px);
 }
 
 @media (min-width: 768px) {
   .add-button {
     padding: 12px 50px;
   }
 }


 